/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* start header section */
body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.section-center{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.header-content{
    display: flex;
    background-color: black;
    border-radius: 30px;
    width: 1321px;
    height: 646px;
    left: 300px;
    top: 100px;  
}
    

.header-title{
    color: white; 
    padding-left: 160px;
}
.text-title{
    font-size: 70px;
}
.paragraph-text{
    font-size: 16px;
}
.watch-live-button{
    background-color: #DD0000;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    width: 187px;
    height: 56px;
}
.fa-greater-than{
    width: 24px;
    width: 24px; 
    padding-left: 20px;   
}
.banner-img img{
    width: 581px;
    height: 613px;
    margin-bottom: 0;
    
}
/* end header section */



/* main section start */
.transfer{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}
.blog-info button{
    width: 100px;
    height: 32px;
    font-size: 20px;
}
.fa-clock{
    margin-left: 10px;
}
.fa-message{
    margin-left: 30px;
    
}
/* main section end */

/* start footer section */
.footer-section{
    background: black;
    width: 100%;
    height: 444px;
}
.footer-text{
    color: white;
    text-align: center;
    font-size: 40px;
}
.footer-nav{
    justify-items: center;
        justify-content: space-between;
}
.footer-nav a{
    text-decoration: none; 
    color: #B9B9B9;
    font-size: 16pxpx;
    font-weight: 500;
}